[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
unicorn = "*"

[dev-packages]
pytest = "*"
black = "*"
httpx = "*"

[requires]
python_version = "3.10"
